<div class="container mt-5">
    <app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>
    <div class="row">
        <div class="col-md-6">
            <button class="btn-shadow btn-wide fsize-1 btn btn-primary" (click)="openModalSaveOrUpdate(content6, false)">Nuevo</button>
        </div>
        <div class="col-md-6">
            <button (click)="exportTable()" class="btn btn-success pull-right">Export a excel</button>
        </div>
    </div>
    <br>
    <ng-template #content6 let-c="close" let-d="dismiss">
        <form [formGroup]="registerForm" (ngSubmit)="createOrUpdate()">
            <div class="modal-header">
                <h4 class="modal-title">{{saveOrUpdate ? 'Modificar usuario' : 'Agregar usuario'}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" formControlName="name" class="form-control" [ngClass]="displayCssFor('name')" />
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">El nombre es obligatorio</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Apellido</label>
                    <input type="text" formControlName="lastName" class="form-control" [ngClass]="displayCssFor('lastName')" />
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">El apellido es obligatorio</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" formControlName="username" class="form-control" [ngClass]="displayCssFor('username')" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">El nombre de usuario es obligatorio</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Correo electrónico</label>
                    <input type="text" formControlName="email" class="form-control" [ngClass]="displayCssFor('email')" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">El correo electrónico es obligatorio</div>
                        <div *ngIf="f.email.errors.email">La dirección de correo electrónico no es válida</div>
                    </div>
                </div>
                <div class="form-group" *ngIf=" ! saveOrUpdate">
                    <label>Contraseña</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="displayCssFor('password')" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">La contraseña es obligatoria</div>
                        <div *ngIf="f.password.errors.minlength">La contraseña debe tener al menos 6 caracteres</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Rol</label>
                    <select formControlName="idrole" class="form-control" [ngClass]="displayCssFor('idrole')">
                        <option value="">Seleccione el rol</option>
                        <option *ngFor="let role of roles; index as i" value="{{ role.idrole }}">
                            {{ role.name }}
                        </option>
                    </select>
                    <div *ngIf="submitted && f.idrole.errors" class="invalid-feedback">
                        <div *ngIf="f.idrole.errors.required">El rol es obligatoria</div>
                    </div>
                </div>
                <input type="hidden" formControlName="iduser" value="asd">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
                <button class="btn" [ngClass]="{'btn-success': saveOrUpdate, 'btn-primary': !saveOrUpdate}"> {{saveOrUpdate ? 'Modificar' : 'Guardar'}}</button>
            </div>
        </form>
    </ng-template>

    <ng-template #contentChangePassword let-c="close" let-d="dismiss">
        <form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
            <div class="modal-header">
                <h4 class="modal-title">Cambiar la contraseña del usuario {{username}}</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Contraseña</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="displayCssForPassword('password')" />
                    <div *ngIf="submitted && g.password.errors" class="invalid-feedback">
                        <div *ngIf="g.password.errors.required">La contraseña es obligatoria</div>
                        <div *ngIf="g.password.errors.minlength">La contraseña debe tener al menos 6 caracteres</div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Repetir Contraseña</label>
                    <input type="password" formControlName="repitPassword" class="form-control" [ngClass]="displayCssForPassword('repitPassword')" />
                    <div *ngIf="submitted && g.repitPassword.errors" class="invalid-feedback">
                        <div *ngIf="g.repitPassword.errors.required">La contraseña es obligatoria</div>
                        <div *ngIf="g.repitPassword.errors.minlength">La contraseña debe tener al menos 6 caracteres</div>
                        <div *ngIf="g.repitPassword.errors.mustMatch">Las contraseñas deben coincidir</div>
                    </div>
                </div>
                <input type="hidden" formControlName="iduser">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
                <button class="btn btn-primary">Cambiar Contraseña</button>
            </div>
        </form>
    </ng-template>

    <ng-template #contentActiveOrInactive let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">{{activeOrInactive ? '¿ Esta seguro de activar el usuario ' + username + ' ?' : '¿ Esta seguro de inactivar el usuario ' + username + '? ' }}</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cerrar</button>
            <button (click)="changeStatus()" class="btn btn-warning">{{activeOrInactive ? 'Activar' : 'Inactivar'}}</button>
        </div>
    </ng-template>

    <div class="card main-card mb-3">
        <div class="card-header">
            <div class="example-header" fxLayout="row">
                <mat-form-field>
                    <label for="">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
                  </label>
                </mat-form-field>
            </div>
        </div>
        <div class="example-container">

            <mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" matSortActive="idrole" matSortDirection="asc" matSortDisableClear>
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="Nombre">{{row[1]}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="username">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Usuario</mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="Usuario">{{row[2]}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="email">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Correo electrónico</mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="Correo electrónico">{{row[3]}}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="name_role">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Rol</mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="Rol">{{row[4]}}</mat-cell>
                </ng-container>

                <!-- Progress Column -->
                <ng-container matColumnDef="action">
                    <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>
                    <mat-cell *matCellDef="let row" data-label="Acción">
                        <button class="btn btn-success btn-shadow fa fa-refresh" (click)="openModalSaveOrUpdate(content6, row[0])"></button> &nbsp;
                        <button class="btn btn-warning btn-shadow fa " [ngClass]="{ 'fa-sign-out': row[6]==1 , 'fa-sign-in': row[6]==2 }" (click)="openModalActiveOrInactive(contentActiveOrInactive, row[0])"></button> &nbsp;
                        <button class="btn btn-primary btn-shadow fa fa-lock" (click)="openModalChangePassword(contentChangePassword, row[0])"></button> &nbsp;
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row [ngClass]="{ 'bg-success': row[6]==1 , 'bg-warning': row[6]==2 }" *matRowDef="let row; columns: displayedColumns;">
                </mat-row>
            </mat-table>
            <div class="not-register" *ngIf="resultsLength==0">¡No hay registros!</div>
            <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="10" (page)="pageEvent = handlePage($event)"></mat-paginator>

        </div>
    </div>

</div>