// Sidebar Light
.app-sidebar {
    &.text-lighter {
        .app-sidebar-content {
            background: none !important;
        }
        .app-header__logo {
            background: #fafbfc !important;
            color: #111111;
            font-weight: bold;
            font-family: 'Prompt', sans-serif;
        }
        .logo-src {
            background: url('/assets/images/logo.png');
        }
        .hamburger-inner,
        .hamburger-inner::before,
        .hamburger-inner::after {
            background: #3f6ad8 !important;
        }
        .app-sidebar.text-lighter .app-header__logo .hamburger-box:hover {
            .hamburger-inner,
            .hamburger-inner::before,
            .hamburger-inner::after {
                background: rgba(255, 255, 255, 1) !important;
            }
        }
        .v-sidebar-menu {
            .vsm-header {
                color: #3f6ad8;
                &::before {
                    background: rgba(255, 255, 255, 0.4);
                }
            }
            %side-link-hover {
                background: #e0f3ff;
                color: #3f6ad8;
            }
            & .vsm-item.active-item {
                &>.vsm-link {
                    @extend %side-link-hover;
                }
            }
            .vsm-arrow,
            .vsm-icon {
                opacity: .5;
            }
            & .vsm-link {
                color: #495057;
                &:hover {
                    .vsm-icon {
                        opacity: .65;
                    }
                }
            }
            & .vsm-dropdown {
                &::before {
                    background: rgba(255, 255, 255, 0.1);
                }
            }
        }
        perfect-scrollbar>.ps.ps--scrolling-y>.ps__rail-y,
        .ps .ps__rail-y:hover {
            background-color: rgba(255, 255, 255, .15) !important;
        }
        .ps__thumb-y {
            background-color: rgba(255, 255, 255, .3) !important;
        }
    }
}